# Database Configuration
# Format: postgresql://user:password@host:port/database
# Example: postgresql://postgres:password@localhost:5432/job_tracker_dev
DATABASE_URL="postgresql://user:password@localhost:5432/job_tracker_dev"

# Server Configuration
PORT=3000
NODE_ENV=development
ALLOWED_ORIGIN=http://localhost:3000 OR FRONTEND URL